<!DOCTYPE html>
<html lang="vi" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Yasuo Shop</title>

	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/themify-icons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/nouislider.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>

		<%- include('header'); -%>

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Đăng ký</h1>
					<nav class="d-flex align-items-center">
						<a href="index">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
						<a href="category">Đăng nhập/Đăng ký</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Đăng nhập Box Area =================-->
	<!-- hiển thị mọi tin nhắn được trả lại từ server cho việc đăng ký -->
	
	<section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Đăng ký</h2>
                        <form class="form-auth-small" action="/registration" method="post">
                        	<% if(message.length > 0) { %>
                        		<% if(message == "Đăng kí thành công !!! Check email để xác nhận tài khoản") { %>
                        		<div class="alert alert-success"><%= message %></div>
                        		<% } else { %>
								<div class="alert alert-danger"><%= message %></div>
								<% } %>
							<% } %>
								<div class="form-group">
									<label for="signin-email" class="control-label sr-only">Email</label>
									<input type="email" class="form-control" id="signin-email" name="email" placeholder="Email" required>
								</div>
								<div class="form-group">
									<label for="signin-password" class="control-label sr-only">Mật khẩu</label>
									<input type="password" class="form-control" id="signin-password" name="password" placeholder="Mật khẩu" required>
								</div>
								<div class="form-group">
									<label for="signin-name" class="control-label sr-only">Tên hiển thị</label>
									<input type="text" class="form-control" id="signin-name" name="name" placeholder="Tên hiển thị" required>
								</div>
								<div class="form-group">
									<label for="signin-tel" class="control-label sr-only">Số điện thoại</label>
									<input type="number" class="form-control" id="signin-tel" name="tel" placeholder="Số điện thoại" required>
								</div>
								<button type="submit" class="btn btn-primary btn-lg btn-block">ĐĂNG KÝ</button>
								<div class="bottom">
									<p>Đã có tài khoản <a href="/signup">Đăng nhập</a></p>
								</div>
							</form>
                    </div>
                    </div>
                </div>
            </div>
        </section>
	<!--================End Đăng nhập Box Area =================-->

		<%- include('footer'); -%>
	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	crossorigin="anonymous"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/nouislider.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>