<section class="lattest-product-area pb-40 category-list">
  <div class="row">
    {{#each dataContenSide }}
    <div class="col-md-6 col-lg-4">
      <div class="card text-center card-product">
        <div class="card-product__img">
          <img class="card-img" src="/public/img2/{{ProID}}/main.jpg" alt="">
          <ul class="card-product__imgOverlay">
            <li><button><i class="ti-search"></i></button></li>
            <li><button><i class="ti-shopping-cart"></i></button></li>
            <li><button><i class="ti-heart"></i></button></li>
          </ul>
        </div>
        <div class="card-body">
          <p>Accessories</p>
          <h4 class="card-product__title"><a href="/product/{{ProID}}/detail">{{ProName}}</a></h4>
          <p class="card-product__price">{{Price}}</p>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
  {{#if dataContenSide}}
  <div class="row justify-content-center">
    {{> home/pagination}}
  </div>
  {{/if}}


</section>