 
          <div class="sidebar-categories">
            <div class="head">Browse Categories</div>
            <ul class="main-categories">
              <li class="common-filter">
                <form action="#">
                  <ul>
                      {{#each dataMenu}}
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="{{CatName}}" name="brand"><label for="{{CatName}}">{{CatName}}<span> (3600)</span></label></li>
                    {{/each}}
                  </ul>
                </form>
              </li>
            </ul>
          </div>
        