 <!-- Footer -->
    <div class="container-fluid bg-dark py-3">
        <footer class="container text-light text-center">
            Copyright &copy; 2020 by 1712839-ChauNguyenKhanhTrinh
        </footer>
    </div>   