<!-- Product Details -->
<div class="container my-3">
    <div class="row">
        <div class="col-md-3 ">
            <div class="text-center">
                <img src="/images/22.jpg" alt="Book 2" class="img-fluid">
            </div>
            <div class="my-4">
                <div class="book-price pull-left">$62.07</div>
                <button type="submit" class="btn btn-success pull-right btn-cart-add" data-id="2">Add to cart</button>
            </div>
        </div>
        <div class="col-md-9">
            <h3 class="my-3">Book 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, vel?</p>
            <h3 class="my-3">Book Details</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae dolor tenetur neque itaque et reprehenderit autem odit nesciunt, aut repellendus nisi sapiente nam ipsa vero excepturi perspiciatis, reiciendis ipsam, quo id consequatur. Delectus officiis explicabo sit quia, maiores nesciunt rem esse hic molestias velit illum in nulla modi quo officia.</p>
        </div>
    </div>
</div>
<div class="container my-3">
    <h3>Comments</h3>
    <div id="comments">
        <div class="row mx-1 mb-2 p-2  bg-light border-success" style="border-left: 6px solid; border-radius: 3px">
            <div class="col-10">
                <p class="text-justify">4/3/2019, 3:39:45 PM - &#x27;4</p>
            </div>
        </div>
        <div class="row mx-1 mb-2 p-2  bg-light border-success" style="border-left: 6px solid; border-radius: 3px">
            <div class="col-10">
                <p class="text-justify">9/29/2018, 2:54:40 AM - ưqwq</p>
            </div>
        </div>
        <div class="row mx-1 mb-2 p-2  bg-light border-success" style="border-left: 6px solid; border-radius: 3px">
            <div class="col-10">
                <p class="text-justify">9/27/2018, 3:12:39 PM - </p>
            </div>
        </div>
        <div class="row mx-1 mb-2 p-2  bg-light border-success" style="border-left: 6px solid; border-radius: 3px">
            <div class="col-10">
                <p class="text-justify">9/27/2018, 3:12:07 PM - ok2</p>
            </div>
        </div>
        <div class="row mx-1 mb-2 p-2  bg-light border-success" style="border-left: 6px solid; border-radius: 3px">
            <div class="col-10">
                <p class="text-justify">9/27/2018, 3:11:39 PM - 1212</p>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">  
        <ul class="pagination pagination-sm"><li class="disabled"><a href="?page=1">&lt;</a></li><li class="active"><a href="?page=1">1</a></li><li><a href="?page=2">2</a></li><li><a href="?page=3">3</a></li><li><a href="?page=4">4</a></li><li><a href="?page=5">5</a></li><li><a href="?page=6">6</a></li><li><a href="?page=2">&gt;</a></li></ul>
    </nav>
</div>
