<!-- Abour Me-->

 <div class="container">
    <h3 class="text-center text-success">Nhóm: HCMUS-EC-20B02</h3>
    <h3 class="text-center">Sinh Viên: 1712839-Châu Nguyễn Khánh Trình</h3>
    <h3 class="text-dark text-success">Dưới đây là thông tin các thành viên nhóm:</h3>
    <div class="row mt-40">
        <div class="col-md-4 col-sm-6">
            <div class="box1">
                <img class="card-img-top" src="/images/trinh.jpg" alt="">
                <h3 class="title">Châu Nguyễn Khánh Trình</h3>
                <ul class="icon">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box1">
                <img class="card-img-top" src="/images/NMT.jpg" alt="">
                <h3 class="title">Nguyễn Minh Trí</h3>
                <ul class="icon">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box1">
                <img class="card-img-top" src="/images/vuong.jpg" alt="">
                <h3 class="title">Phạm Văn Vương</h3>
                <ul class="icon">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box1">
                <img class="card-img-top" src="/images/han.jpg" alt="">
                <h3 class="title">Bùi Ngọc Bảo Hân</h3>
                <ul class="icon">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box1">
                <img class="card-img-top" src="/images/loc.jpg" alt="">
                <h3 class="title">Trần Hữu Lộc</h3>
                <ul class="icon">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
