  <!-- Error -->
<section class="jumbotron text-center">
    <div class="container text-danger">
        <h1 class="jumbotron-heading">ERROR</h1>  
    </div>
</section>

<!-- Messages -->
<div class="container">

</div>