  <!-- Homepage -->
<div class="container my-3">
    <div class="row">



        <!-- Products List -->
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="card text-left">
                <a href="/products/1" title="Click to view details">
                            <img class="card-img-top book-cover" src="/images/1.jpg" alt="">
                        </a>
                <div class="card-body">
                    <h4 class="card-title">Book 1</h4>
                    <p class="card-text book-summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, vel?</p>
                </div>
                <div class="card-footer">
                    <div class="book-price text-left pull-left">$29.13</div>
                    <button type="submit" class="btn btn-success btn-sm pull-right btn-cart-add" data-id="1">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="card text-left">
                <a href="/products/2" title="Click to view details">
                            <img class="card-img-top book-cover" src="/images/2.jpg" alt="">
                        </a>
                <div class="card-body">
                    <h4 class="card-title">Book 2</h4>
                    <p class="card-text book-summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, vel?</p>
                </div>
                <div class="card-footer">
                    <div class="book-price text-left pull-left">$62.07</div>
                    <button type="submit" class="btn btn-success btn-sm pull-right btn-cart-add" data-id="2">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="card text-left">
                <a href="/products/3" title="Click to view details">
                            <img class="card-img-top book-cover" src="/images/3.jpg" alt="">
                        </a>
                <div class="card-body">
                    <h4 class="card-title">Book 3</h4>
                    <p class="card-text book-summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, vel?</p>
                </div>
                <div class="card-footer">
                    <div class="book-price text-left pull-left">$21.42</div>
                    <button type="submit" class="btn btn-success btn-sm pull-right btn-cart-add" data-id="3">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="card text-left">
                <a href="/products/4" title="Click to view details">
                            <img class="card-img-top book-cover" src="/images/4.jpg" alt="">
                        </a>
                <div class="card-body">
                    <h4 class="card-title">Book 4</h4>
                    <p class="card-text book-summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, vel?</p>
                </div>
                <div class="card-footer">
                    <div class="book-price text-left pull-left">$21.53</div>
                    <button type="submit" class="btn btn-success btn-sm pull-right btn-cart-add" data-id="4">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="card text-left">
                <a href="/products/5" title="Click to view details">
                            <img class="card-img-top book-cover" src="/images/5.jpg" alt="">
                        </a>
                <div class="card-body">
                    <h4 class="card-title">Book 5</h4>
                    <p class="card-text book-summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, vel?</p>
                </div>
                <div class="card-footer">
                    <div class="book-price text-left pull-left">$38.64</div>
                    <button type="submit" class="btn btn-success btn-sm pull-right btn-cart-add" data-id="5">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="card text-left">
                <a href="/products/6" title="Click to view details">
                            <img class="card-img-top book-cover" src="/images/6.jpg" alt="">
                        </a>
                <div class="card-body">
                    <h4 class="card-title">Book 6</h4>
                    <p class="card-text book-summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, vel?</p>
                </div>
                <div class="card-footer">
                    <div class="book-price text-left pull-left">$49.38</div>
                    <button type="submit" class="btn btn-success btn-sm pull-right btn-cart-add" data-id="6">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="card text-left">
                <a href="/products/7" title="Click to view details">
                            <img class="card-img-top book-cover" src="/images/7.jpg" alt="">
                        </a>
                <div class="card-body">
                    <h4 class="card-title">Book 7</h4>
                    <p class="card-text book-summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, vel?</p>
                </div>
                <div class="card-footer">
                    <div class="book-price text-left pull-left">$34.70</div>
                    <button type="submit" class="btn btn-success btn-sm pull-right btn-cart-add" data-id="7">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="card text-left">
                <a href="/products/8" title="Click to view details">
                            <img class="card-img-top book-cover" src="/images/8.jpg" alt="">
                        </a>
                <div class="card-body">
                    <h4 class="card-title">Book 8</h4>
                    <p class="card-text book-summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, vel?</p>
                </div>
                <div class="card-footer">
                    <div class="book-price text-left pull-left">$13.12</div>
                    <button type="submit" class="btn btn-success btn-sm pull-right btn-cart-add" data-id="8">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="card text-left">
                <a href="/products/9" title="Click to view details">
                            <img class="card-img-top book-cover" src="/images/9.jpg" alt="">
                        </a>
                <div class="card-body">
                    <h4 class="card-title">Book 9</h4>
                    <p class="card-text book-summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, vel?</p>
                </div>
                <div class="card-footer">
                    <div class="book-price text-left pull-left">$59.30</div>
                    <button type="submit" class="btn btn-success btn-sm pull-right btn-cart-add" data-id="9">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>