<!-- Homepage -->
<div class="container my-3">
    <div class="row">



        <!-- Products List -->
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="card text-left">
                <a href="/litBooks/1" title="Click to view details">
                            <img class="card-img-top book-cover" src="/images/21.jpg" alt="">
                        </a>
                <div class="card-body">
                    <h4 class="card-title">Book 1</h4>
                    <p class="card-text book-summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, vel?</p>
                </div>
                <div class="card-footer">
                    <div class="book-price text-left pull-left">$29.13</div>
                    <button type="submit" class="btn btn-success btn-sm pull-right btn-cart-add" data-id="1">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="card text-left">
                <a href="/litBooks/2" title="Click to view details">
                            <img class="card-img-top book-cover" src="/images/22.jpg" alt="">
                        </a>
                <div class="card-body">
                    <h4 class="card-title">Book 2</h4>
                    <p class="card-text book-summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, vel?</p>
                </div>
                <div class="card-footer">
                    <div class="book-price text-left pull-left">$62.07</div>
                    <button type="submit" class="btn btn-success btn-sm pull-right btn-cart-add" data-id="2">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="card text-left">
                <a href="/litBooks/3" title="Click to view details">
                            <img class="card-img-top book-cover" src="/images/23.jpg" alt="">
                        </a>
                <div class="card-body">
                    <h4 class="card-title">Book 3</h4>
                    <p class="card-text book-summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, vel?</p>
                </div>
                <div class="card-footer">
                    <div class="book-price text-left pull-left">$21.42</div>
                    <button type="submit" class="btn btn-success btn-sm pull-right btn-cart-add" data-id="3">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="card text-left">
                <a href="/litBooks/4" title="Click to view details">
                            <img class="card-img-top book-cover" src="/images/24.jpg" alt="">
                        </a>
                <div class="card-body">
                    <h4 class="card-title">Book 4</h4>
                    <p class="card-text book-summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, vel?</p>
                </div>
                <div class="card-footer">
                    <div class="book-price text-left pull-left">$21.53</div>
                    <button type="submit" class="btn btn-success btn-sm pull-right btn-cart-add" data-id="4">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>