<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">ORDER
            <span class="text-success">#1</span> DETAILS</h1>
    </div>
</section>
<div class="container mb-3">
    <div class="row equal">
        <div class="col">
            <div class="card" style="height:100%">
                <div class="card-header">
                    Shipping Address
                </div>
                <div class="card-body">
                    <div class="card-text"> </div>
                    <div class="card-text"></div>
                    <div class="card-text"></div>
                    <div class="card-text"> -  - </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="height:100%">
                <div class="card-header">
                    Ordered At
                </div>
                <div class="card-body">
                    <p class="card-text">3/16/2020, 4:19:19 AM</p>
                </div>
                <div class="card-header">
                    Payment Method
                </div>
                <div class="card-body">
                    <p class="card-text">COD</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"> </th>
                <th scope="col">Product</th>
                <th scope="col">Unit Price</th>
                <th scope="col" class="text-center">Quantity</th>
                <th scope="col" class="text-right">Unit Cost</th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td></td>
                <td></td>
                <td></td>

                <td class="text-right h6">Total Cost</td>
                <td class="text-right h6">$0.00</td>

            </tr>
        </tbody>
    </table>

</div>