<section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
          {{> total/menuside}}
          
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
          <!-- Start Filter Bar -->
          
          <!-- End Filter Bar -->
          <!-- Start Best Seller -->
          {{> total/contentside}}
          <!-- End Best Seller -->
        </div>
      </div>
    </div>
  </section>