<div class="col-md-6 offset-md-3">
    <form action="/member/register" method="POST" class="form-horizontal" id="subscribeForm" role="form">
        <div class="form-group">
            <legend>Member Register<span class="foat-right"><a href="/member/login">I already have account</a></span>
            </legend>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">

                </div>
            </div>
        </div>
        <div class="form-group">
            <legend>Create a new profile</legend>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Please Input Name" />
                </div>
                <div class="col-md-6">
                    <label for="address">Address</label>
                    <input type="text" name="address" class="form-control" id="address"
                        placeholder="Please Input address" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Please Input email" />
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Please input password" />
        </div>
        <div class="form-group">
            <div class="g-recaptcha" data-sitekey="6LdV9sUUAAAAALOu0YBnsOOEhJRLKw9RqYusptFh"></div>
        </div>
        <div class="form-group">
            <div class="col-md-10 offset-md-2">
                <button type="submit" class="btn btn-primary float-right">Register</button>
            </div>
        </div>

    </form>
    
    <script>
        document.getElementById('subscribeForm').addEventListener('submit', submitForm);
        function submitForm(e) {
            e.preventDefault();
            const email = document.querySelector('#email').value;
            const name = document.querySelector('#name').value;
            const password = document.querySelector('#password').value;
            const address = document.querySelector('#address').value;
            const captcha = document.querySelector('#g-recaptcha-response').value;

            fetch('/reg', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json,text/plain, */*',
                    'Content-type': 'application/json'
                },
                body: JSON.stringify({ name: name, address: address, email: email,password: password, captcha: captcha })
            })
                .then((res) => res.json())
                .then((data) => {
                    console.log(data);
                    alert(data.msg);
                });
        }
    </script>
</div>