{{#each inFor}}

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ProName}}</h5>
            <div>{{{FullDes}}}</div>
            <a href="#" class="btn btn-primary">{{Price}}</a>
        </div>
    </div>
{{/each}}